ul
  li
    a(href="/").btn 홈
  li.title Moonwon
  li
    a(href="/favorite/465183").btn.moonwon-link 즐겨찾기
  li
    a(href="/normal/465183").btn.moonwon-link 일반
  li
    a(href="/target/465183").btn.moonwon-link 타겟팅
  li
    a(href="/mobile/465183").btn.moonwon-link 모바일 타게팅

  li.title Karibu
  li
    a(href="/favorite/650090").btn.karibu-link 즐겨찾기
  li
    a(href="/normal/650090").btn.karibu-link 일반
  li
    a(href="/target/650090").btn.karibu-link 타겟팅
  li
    a(href="/mobile/650090").btn.karibu-link 모바일 타게팅
